[Desktop Entry]
Type=Application
Name=tabpro
Comment=Editor de tablaturas de guitarra
Exec=tabpro
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=tablatura;guitarra;guitar;tab;
StartupWMClass=com-gstncaruso-tabpro-app-App
