[Desktop Entry]
Type=Application
Name=tabpro
GenericName=Editor de tablaturas
Comment=Editor de tablaturas y partituras para guitarra
Exec=tabpro %f
Icon=tabpro
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=tablatura;guitarra;guitar;tab;partitura;
MimeType=application/x-tabpro;application/x-guitar-pro;
StartupWMClass=com-gstncaruso-tabpro-app-App
