[Desktop Entry]
Type=Application
Name=tabpro
GenericName=Tablature editor
Comment=Guitar tablature and score editor
Exec=tabpro %f
Icon=tabpro
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=tablature;guitar;tab;score;
MimeType=application/x-tabpro;application/x-guitar-pro;
StartupWMClass=com-gstncaruso-tabpro-app-App
